/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;
$offwhite: #f9f9f9;
$light-gray: #ececec;
$black: #000000;

// Base document colors
$navbar-bg: $offwhite; // navbar
// $navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $dark-green; // highlight color when hovering over navbar links
$body-bg: $offwhite; // page background 
// $body-color: $gray; // page text 
$footer-bg: $offwhite; // footer 
$link-color: $black; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

/*-- scss:rules --*/
h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2rem;
}
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
  font-family: "Crimson Text"; 
}

a {
  text-decoration: none; 
  
}

a:hover {
    text-decoration: underline;
}